<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Quscus 2 Main.Properties.Settings.localConnectionString"
            connectionString="Data Source=INFORMATICA02\SQLSRV2008;Initial Catalog=local;Integrated Security=True"
            providerName="System.Data.SqlClient" />      
    </connectionStrings>
</configuration>